<link rel="icon" type="image/x-icon" href="./assets/images/favicon.ico">
<link rel="stylesheet" href="/assets/css/site.css">
<script defer data-domain="ocserv.openconnect-vpn.net" src="https://plausible.io/js/script.tagged-events.js"></script>
{% if page.page_css %}
  {% for stylesheet in page.page_css %}
    <link rel="stylesheet" href="{{ stylesheet | relative_url }}">
  {% endfor %}
{% endif %}
