#main {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.side-by-side-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3em;
  margin: 0 auto;
}

.side-by-side-container .side {
  flex-basis: 45%;
  box-shadow: 1px 2px 5px rgba(0,0,0,0.2);
  height: 20em;
  padding: 1em;
  text-align: center;
  background-color: #f0f0f0;
}

.side-by-side-container .side-10 {
  flex-basis: 45%;
  box-shadow: 1px 2px 5px rgba(0,0,0,0.2);
  height: 10em;
  text-align: center;
  background-color: #f0f0f0;
}

