.masthead {
    background-color: #630c0c;
    border-bottom: 1px solid #7a0b0b;
}

.masthead__menu a {
    color: white;
}

.masthead__menu a:hover {
    color: gray;
}

.masthead__menu .greedy-nav {
    background-color: #630c0c;
}

.masthead__menu .hidden-links {
    background-color: #630c0c;
}

.note {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fbeaeb;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.2);
}
